In [1]:
import pandas as pd
import numpy as np

<b>Dataset</b>

In [2]:
data = "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"
df = pd.read_csv(data)
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

<b>Features</b>

In [3]:
features = ['Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders', 'Transmission Type', 
            'Vehicle Style', 'highway MPG', 'city mpg', 'MSRP']

<b>Data preparation</b>

In [4]:
df = df[features]
df.columns = df.columns.str.replace(' ', '_').str.lower()
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
for column in categorical_columns:
    df[column] = df[column].str.replace(' ', '_').str.lower()
df

C:\Users\CrackedStone\AppData\Local\Temp\ipykernel_17884\2627464424.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].str.replace(' ', '_').str.lower()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,46120
11910,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,56670
11911,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,50620
11912,acura,zdx,2013,300.0,6.0,automatic,4dr_hatchback,23,16,50920
11913,lincoln,zephyr,2006,221.0,6.0,automatic,sedan,26,17,28995

In [5]:
df = df.fillna(0)
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [6]:
df['price'] = df['msrp']
del df['msrp']
df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,46120
11910,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,56670
11911,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,50620
11912,acura,zdx,2013,300.0,6.0,automatic,4dr_hatchback,23,16,50920
11913,lincoln,zephyr,2006,221.0,6.0,automatic,sedan,26,17,28995

<b>Question 1</b>

In [7]:
df.transmission_type.value_counts()

transmission_type
automatic           8266
manual              2935
automated_manual     626
direct_drive          68
unknown               19
Name: count, dtype: int64

<b>Question 2</b>

In [8]:
numerical = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']
categorical = ['make', 'model', 'transmission_type', 'vehicle_style']

In [9]:
for variable in numerical:
    print(variable)
    print(df[numerical].corrwith(df[variable]))
    print()

year
year                1.000000
engine_hp           0.338714
engine_cylinders   -0.040708
highway_mpg         0.258240
city_mpg            0.198171
dtype: float64

engine_hp
year                0.338714
engine_hp           1.000000
engine_cylinders    0.774851
highway_mpg        -0.415707
city_mpg           -0.424918
dtype: float64

engine_cylinders
year               -0.040708
engine_hp           0.774851
engine_cylinders    1.000000
highway_mpg        -0.614541
city_mpg           -0.587306
dtype: float64

highway_mpg
year                0.258240
engine_hp          -0.415707
engine_cylinders   -0.614541
highway_mpg         1.000000
city_mpg            0.886829
dtype: float64

city_mpg
year                0.198171
engine_hp          -0.424918
engine_cylinders   -0.587306
highway_mpg         0.886829
city_mpg            1.000000
dtype: float64

<b>Making "price" binary</b>

In [10]:
mean_price = df.price.mean()
mean_price

40594.737032063116

In [11]:
df['above_average'] = (df.price > mean_price).astype(int)
price = df['price']
df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135,1
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650,1
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350,0
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450,0
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500,0
...,...,...,...,...,...,...,...,...,...,...,...
11909,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,46120,1
11910,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,56670,1
11911,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,50620,1
11912,acura,zdx,2013,300.0,6.0,automatic,4dr_hatchback,23,16,50920,1
11913,lincoln,zephyr,2006,221.0,6.0,automatic,sedan,26,17,28995,0

<b>Splitting the data</b>

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25)
len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [14]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [15]:
y_train = df_train['above_average']
y_val = df_val['above_average']
y_test = df_test['above_average']
y_train_price = np.log1p(df_train['price'].values)
y_val_price = np.log1p(df_val['price'].values)
y_test_price = np.log1p(df_test['price'].values)

In [16]:
del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

del df_train['price']
del df_val['price']
del df_test['price']

<b>Question 3</b>

In [17]:
from sklearn.metrics import mutual_info_score

In [18]:
def mutual_info_above_average_score(series):
    return mutual_info_score(series, y_train)

In [19]:
mutual_info = df_train[categorical].apply(mutual_info_above_average_score)
mutual_info.sort_values(ascending=True).to_frame('Mutual Information')

                   Mutual Information
transmission_type            0.021530
vehicle_style                0.086276
make                         0.240350
model                        0.461245

<b>Question 4</b>

In [20]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

In [21]:
train_dicts = df_train[categorical + numerical].to_dict(orient='records')
val_dicts = df_val[categorical + numerical].to_dict(orient='records')
dv = DictVectorizer(sparse=False)

In [22]:
X_train = dv.fit_transform(train_dicts)
X_val = dv.transform(val_dicts)

In [23]:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

In [24]:
model.fit(X_train, y_train)
y_pred = model.predict(X_val)
accuracy = (y_pred == y_val).mean()
round(accuracy, 2)

0.95

<b>Question 5</b>

In [25]:
features_to_eliminiate = ['transmission_type', 'year', 'engine_hp', 'city_mpg']

for feature in features_to_eliminiate:
    categorical = ['make', 'model', 'transmission_type', 'vehicle_style'] 
    numerical = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg'] 
    features = categorical + numerical
    
    features.remove(feature)
    
    train_dicts = df_train[features].to_dict(orient='records')
    val_dicts = df_val[features].to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    X_train = dv.fit_transform(train_dicts)
    X_val = dv.transform(val_dicts)

    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    accuracy_difference = accuracy - (y_pred == y_val).mean()
    
    print(feature, accuracy_difference)

transmission_type -0.0012589173310951773
year -0.0020981955518253326
engine_hp 0.01091061686949224
city_mpg 0.00461603021401602

<b>Question 6</b>

In [26]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [27]:
alpha_values = [0, 0.01, 0.1, 1, 10]

In [28]:
for value in alpha_values:
    train_dicts = df_train[categorical + numerical].to_dict(orient='records')
    val_dicts = df_val[categorical + numerical].to_dict(orient='records')
    dv = DictVectorizer(sparse=True)
    
    X_train = dv.fit_transform(train_dicts)
    X_val = dv.transform(val_dicts)
    
    model = Ridge(alpha=value, solver='sag', random_state=42)
    model.fit(X_train, y_train_price)
    y_pred = model.predict(X_val)
    
    score = mean_squared_error(y_val_price, y_pred)
    print(f'For alpha = {value} the score is {round(score, 3)}')

For alpha = 0 the score is 0.078
For alpha = 0.01 the score is 0.078
For alpha = 0.1 the score is 0.075
For alpha = 1 the score is 0.078
For alpha = 10 the score is 0.119